<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <router-outlet></router-outlet>
    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Grid Datas With CheckBoxes</div>
      <div class="container" style="color: black;">
        <h3>DATA</h3>
        <div class="card" *ngFor="let item of rowData1">
          <h5 class="card-header">Id: {{item.id}}</h5>
          <div class="card-body">
            <input *ngIf="this.statusOk" class="custom-control-input" type="checkbox" id="disabledCheck" value="{{ item.id }}" ngModel="{{ item.isChecked }}" (change)="checkValueAndUpdateData($event)">
            <input *ngIf="!this.statusOk" class="custom-control-input" type="checkbox" id="disabledCheck" value="{{ item.id }}" ngModel="{{ item.isChecked }}" disabled>
            <label class="card-title">{{item.text}}</label>
          </div>
        </div>
        <h5>Number of checked checkboxes : {{ numberofChecked }} / {{ lengthOfData }}</h5>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


