.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 55px;
    background: #333575;
    margin: 0 -1rem;
    font-size: 24px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -1rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #333575;
}

::ng-deep #dropzone-external {
  width: 468px;
  height: 52px;
  background-color: rgba(183, 183, 183, 0.1);
  border-width: 2px;
  border-style: dashed;
  padding: 10px;
  font-size: 12px;
}

::ng-deep #dropzone-external > * {
  pointer-events: none;
}

::ng-deep #dropzone-external.dropzone-active {
  border-style: solid;
}

::ng-deep .widget-container > span {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}

::ng-deep #dropzone-image {
  max-width: 100%;
  max-height: 100%;
}

::ng-deep #dropzone-text > span {
  font-weight: 100;
  opacity: 0.5;
}

::ng-deep #upload-progress {
  display: flex;
  margin-top: 10px;
}

::ng-deep .flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dxc-tooltip {  
    z-index: 2000;  
}  

.dxo-tooltip {  
  z-index: 2000;  
}

