<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <router-outlet></router-outlet>
    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Home</div>
        <div class="page__content shadow p-3 position-relative">
          <div class="container">
  
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="card text-center">
                    <div class="card-body">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="card text-center">
                    <div class="card-body">
                      <dx-pie-chart
                      id="pie-chart"
                      [dataSource]="dataSource"
                      palette="bright"
                      title="Stock Status"
                    >
                      <dxi-series argumentField="name" valueField="amount"> </dxi-series>
                      <dxo-export [enabled]="true"></dxo-export>
                      <dxo-tooltip
                      [enabled]="true"
                      location="edge"
                      [customizeTooltip]="customizeTooltip"
                      [zIndex]="5000"
                    ></dxo-tooltip>
                    </dx-pie-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

